@import url('https://fonts.googleapis.com/css?family=Kristi|Barlow|Noto+Serif+TC');

/*
 * RÈGLES GLOBAL :
*/

a {
    text-decoration: none;
    color: #965041;
}

a:hover {
    cursor: url('../medias/img/henna.png'), auto;	
}

input {
    min-width: 300px;
    min-height: 30px;
}

input,
textarea {
    border: solid 1px #182433;
}

input[type="submit"],
input[type="reset"],
button {
    width: 70px;
    height: 50px;
    padding: 8px;
    background-color: #182433;
    color: #FFF;
    font-size: 1.1em;
}

/*
 * TEMPLATE
*/

body {
    display: grid;
    /*4 lignes constituer de 4 colonnes, qui prennent toute la largeur de la page chacune*/
    grid-template: "nav nav nav nav"
    "header header header header"
    "main main main main"
    "footer footer footer footer";
    margin: 0;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
}

nav {
    grid-area: nav;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 80px;
    border-bottom: solid 2px #DDD;
    background-color: #F3E8DFEE;
}

header {
    grid-area: header;
    height: calc(100vh - 80px);
    background: url("../medias/img/Drawing-process-of-henna-menhdi-ornamenton-woman-\'s-hand.jpg");
    background-size: cover;
    color: #FFF;
    font-family: 'Barlow', sans-serif;
}

main {
    grid-area: main;
    height: auto;;
}

footer {
    grid-area: footer;
    height: 100px;
    background-color: #182433;
    color: #FFF;
}

/*
 * NAVIGATION
*/

nav,
nav ul {
    display: flex;
    flex-direction: row;
}

nav {
    align-content: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}

nav .logo {
    font-family: 'Kristi', cursive;
    font-size: 2.5em;
    color: #965041;
}


nav li {
    list-style: none;
    display: inline-block;
    margin: auto 12px;
    cursor: pointer;
}

nav #login {
    color: #965041;
}

/** Formulaire de connexion **/

.login-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #965041DD;
    background-color: #965041DD;

}

.login-modal form {
    background-color: #fefefe;
    margin: 5% auto;padding: 20px;
    border: solid 1px #888;
    width: 80%;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.avatar img {
    width: 100px;
    margin: auto;font-family: 'Barlow', sans-serif;
}

/*
 * HEADER 
*/

header div {
    position: relative;
    top: 300px;
    width: 80%;
    margin: auto;
}

header div h3 {
    font-size: xx-large;
}

header div p {
    font-size: x-large;
}

header div a {
    padding: 12px;
    border: solid 1px #FFF;
    border-radius: 6px;
    background-color: transparent;
    color: #FFF;font-family: 'Barlow', sans-serif;
    font-size: 2em;
}

header div a:hover {
    border-color: rgb(248, 127, 71);
    background-color: #FFF;
    color: #182433;
}

/*
 * MAIN
*/

main {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

main section:not(.sommaire) {
    margin-top: auto;
}

/****** index.html ******/

/* Vidéo */

section.video-preview {
    height: 350px;
    position: relative;
    border-radius: 10px 10px 0 0;
    background-color: #027ab9;
    color: #FFF;
}

section.video-preview .description,
section.video-preview video {
    display: inline-block;
}

section.video-preview .description {
    width: 500px;
    margin-left: 60px;
}

section.video-preview .description img {
    width: 70px;
    margin: auto;
}

section.video-preview video {
    width: 500px;
    height: auto;
    float: right;
    position: absolute;
    bottom: 0px;
    right: 0;
    border-radius: 10px 0 0 0;
}

/* Tarifs */

.tarifs h1,
.horraires h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 3rem;
}

.tarifs table {
    table-layout: fixed ;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

section.tarifs table thead {
    width: 200px;
    height: 150px;;
    background-color: #6c2400;
    color: #FFF;
}

section.tarifs table tbody tr {
    background-color: #f5f5f5;
    border-spacing: 20px;
}

section.tarifs table tbody tr:nth-child(even) {
    background-color: #fafafa;
}

.tarifs table tr td:first-of-type {
    border-right: solid 2px #965041;
}

/* Horraires */

.date {
    margin-bottom: 16px;
    font-size: 2rem;
    font-style: italic;
}

section.horraires table {
    table-layout: fixed;
    width: 100%;
    min-height: 300px;
}

section.horraires table,
section.horraires table th,
section.horraires table tr,
section.horraires table td {
    border: solid 1px #FCFCFC30;
    border-collapse: collapse;
}

section.horraires table thead {
    width: 100px;
    height: 50px;
}

section.horraires table thead tr th:first-of-type {
    background-color: transparent;
}

.horraires th {
    background-color: #182433;
    color: #FFF;
}

section.horraires table tr {
    height: 60px;
}

section.horraires table td {
    border: solid 1px #18243344;
}

td.ouvert {
    background-color: hsl(101, 90%, 84%);
}

/****** faq.html ******/

main.faq {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas: "sommaire contenu";
}

main.faq section.sommaire {
    grid-area: sommaire;
    position: fixed;
}

main.faq section.contenu {
    grid-area: contenu;
}

.sommaire ul {
    list-style: none;
}

section.sommaire ul li {
    margin-bottom: 16px;
}

section.sommaire ul li::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background: #965041;
    /* background: url("../medias/img/henna.png"); */
}

/****** galerie.html ******/

main.galerie {
    display: grid;
    grid-template: "preview galerie";
}

section.preview {
    grid-area: preview;
}

section.preview img {
    width: 30vw;
}

section.galerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 30px;
}

section.galerie img {
    width: 200px;
    height: 200px;
    margin: 3px;
    border: solid 1px #222;
    background-color: #965041;
}

/****** contact.html ******/

main.contact {
    width: 90vw;
    padding: auto 100px;
}

main.contact .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#map {
    width: 50%;
    height: 500px;
    border: solid 1px #182433;
    box-shadow: 11px 8px #222;
}

.container .infos ul {
    list-style: none;
}

.container .infos .fa,
.container .infos .fas {
    margin: 8px 16px;
}

main.contact form {
    width: 60%;
    margin: auto;
    padding: 50px;
}

main.contact form div.ligne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6px auto;
}

div.ligne select {
    min-width: 300px;
    min-height: 30px;
    border: solid 1px #182433;
    background-color: transparent;
}

/* main.contact form div.ligne, select */
main.contact form div.ligne label
main.contact form div.ligne input {
    width: 100%;
}

main.contact form div.ligne:nth-child(6) textarea {
    width: 100%;
    height: 300px;
    overflow: auto;
    font-size: 1.5em;
}

main.contact form .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top: 36px;
}

main.contact form .erreurs ul {
    width: 100%;
    list-style: square;
    color: #F55;
}

main.contact form .buttons input {
    margin: auto 30px;
}

/****** inscription.html ******/

main.inscription section {
    position: relative;
}

#inscription,
#inscription + img {
    display: inline-block;
}

form#inscription {
    width: 30vw;
    padding: 15px;
}

#inscription + img {
    width: 65%;
    opacity: 0.8;
    filter: blur(1px);
    transition: opacity 2s, filter 2s;
}

#inscription + img:hover {
    opacity: 1;
    filter: blur(0);
}

/*
 * FOOTER
*/

footer {
    padding-top: 12px;
    background-color: #182433;
    color: #FFF;
}

footer .social-media,
footer .copyright {
    width: 300px;
    margin: auto;
}

footer .social-media img {
    width: 30px;
}

footer .copyright {
    /* font-family: 'Kristi', cursive; */
    font-size: 1.3em;
}

footer .copyright span {
    font-family: 'Kristi', cursive;
    font-size: 1.5em;
}