@import url('https://fonts.googleapis.com/css?family=Kristi|Barlow|Noto+Serif+TC');

/*
 * RÈGLES GLOBAL :
*/

a {
    text-decoration: none;
    color: #965041;
}

/*
 * TEMPLATE
*/

body.home {
    display: grid;
    /*4 colonnes qui prennent toute la largeur de la page chacune*/
    grid-template: "nav nav nav nav"
    "header header header header"
    "main main main main"
    "footer footer footer footer";
    margin: 0;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
}

nav {
    grid-area: nav;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 80px;
    border-bottom: solid 2px #DDD;
    background-color: #F3E8DFEE;
}

header {
    grid-area: header;
    height: calc(100vh - 80px);
    background: url("../medias/img/Drawing-process-of-henna-menhdi-ornamenton-woman-\'s-hand.jpg");
    background-size: cover;
    color: #FFF;
    font-family: 'Barlow', sans-serif;
}

main {
    grid-area: main;
    height: auto;;
}

footer {
    grid-area: footer;
    height: 100px;
    background-color: #182433;
    color: #FFF;
}

/*
 * NAVIGATION
*/

nav,
nav ul {
    display: flex;
    flex-direction: row;
}

nav {
    align-content: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}

nav .logo {
    font-family: 'Kristi', cursive;
    font-size: 2.5em;
    color: #965041;
}


nav li {
    list-style: none;
    display: inline-block;
    margin: auto 12px;
}

/*
 * HEADER 
*/

header div {
    position: relative;
    top: 300px;
    width: 80%;
    margin: auto;
}

header div h3 {
    font-size: xx-large;
}

header div p {
    font-size: x-large;
}

header div a {
    padding: 12px;
    border: solid 1px #FFF;
    border-radius: 6px;
    background-color: transparent;
    color: #FFF;
    font-size: 1.3em;
}

header div a:hover {
    border-color: rgb(248, 127, 71);
    background-color: #FFF;
    color: #182433;
}

/*
 * MAIN
*/

main {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

main section {
    margin-top: 30px;
}

/* Vidéo */

section.video-preview {
    height: 350px;
    position: relative;
    border-radius: 10px 10px 0 0;
    background-color: #027ab9;
    color: #FFF;
}

section.video-preview .description,
section.video-preview video {
    display: inline-block;
}

section.video-preview .description {
    width: 500px;
    margin-left: 60px;
}

section.video-preview .description img {
    width: 70px;
    margin: auto;
}

section.video-preview video {
    width: 500px;
    height: auto;
    float: right;
    position: absolute;
    bottom: 0px;
    right: 0;
    border-radius: 10px 0 0 0;
}

/* Tarifs */

.tarifs table {
    width: 100%;
    text-align: center;
    border-collapse: separate;
}

section.tarifs table thead {
    width: 200px;
    height: 150px;;
    background-color: #6c2400;
    color: #FFF;
}

section.tarifs table tbody tr {
    background-color: #f5f5f5;
    border-spacing: 20px;
}

section.tarifs table tbody tr:nth-child(even) {
    background-color: #fafafa;
}

/* Horraires */

section.horraires table {
    width: 500px;
}

section.horraires table,
section.horraires table tr,
section.horraires table td {
    border: solid 1px #6c2400;
    border-collapse: collapse;
}

section.horraires table thead {
    width: 100px;
    height: 50px;
}

/*
 * FOOTER
*/

footer {
    padding-top: 12px;
    background-color: #182433;
    color: #FFF;
}

footer .social-media,
footer .copyright {
    width: 300px;
    margin: auto;
}

footer .social-media img {
    width: 30px;
}

footer .copyright {
    /* font-family: 'Kristi', cursive; */
    font-size: 1.3em;
}

footer .copyright span {
    font-family: 'Kristi', cursive;
    font-size: 1.5em;
}